# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_tflow_select=2.1.0=gpu
absl-py=0.7.1=py37_0
astor=0.8.0=py37_0
attrdict=2.0.1=py_0
blas=1.0=mkl


gast=0.2.2=py37_0

google-pasta=0.1.7=py_0


keras-applications=1.0.8=py_0
keras-preprocessing=1.1.0=py_1

libgfortran=3.0.0=1

markdown=3.1.1=py37_0

mkl=2019.5=281


pip=19.2.2=py37_0

pycparser=2.19=py37_0
pyparsing=2.4.2=py_0

python-dateutil=2.8.0=py_0
#pytorch=1.2.0=py3.7_cuda10.0.130_cudnn7.6.2_0
pytz=2019.2=py_0




setuptools=41.0.1=py37_0

six=1.12.0=py37_0

tensorflow-estimator=1.14.0=py_0

termcolor=1.1.0=py37_1

werkzeug=0.15.5=py_0
wheel=0.33.4=py37_0

